.text-field {
    width: 100%;
}

.contact-btn {
    margin-bottom: 20px;
    margin-top: 20px;
}

.error-message {
    border-left: 5px solid #A80202;
}

.message {
    background: #EBEBEB80;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.success-message {
    border-left: 5px solid #558B2F;
}

.footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.link-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.link-list a {
    color: rgba(22, 21, 28, 0.73);
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
}

.link-list a:first-of-type {
    margin-left: 0;
}

