body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  /*color: #212121 !important;*/
  color: white;
  overflow-x: hidden;
  background-color: #1A1A1D;
}

h3 {
  font-weight: 400;
  font-size: medium;
}

h6 {
  font-weight: 600;
  font-size: medium;
}

p, span {
  font-weight: 400;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

.section-container {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
  padding-bottom: 9rem;
}

.section-container-body {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
  /*padding-bottom: rem;*/
}

.section.dark {
  background: #1A1A1D;
}

.section-container.header-component {
  padding: 0;
}

.section-container.footer-component {
  padding: 0;
}

.section.colored {
  background: #1A1A1D;
  color: white;
  padding-top: 5rem;
}

.section.bottom {
  background: #1A1A1D;
  color: white;
}

p.headline {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 10pt;
  opacity: 0.8;
}

.header-section {
  background: #1A1A1D;
}

p.text-justify {
  text-align: justify;
}

p.text-center {
  text-align: center;
}